<header class="site">
  <div class="wrap">
    <a class="brand" href="/">E-mmortal<span style="color:#0f766e">.</span></a>
    <nav>
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/app/">CRM Login</a>
    </nav>
  </div>
</header>
